.text_container {
    background-color: #ffd251;
    padding: 80px 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.retreat_title {
    font-weight: bold;
    font-size: 25px;
    text-align: center;
}

.retreat_text {
    color: black;
    font-size: 18px;
    line-height: 1.2;
}

.images_section{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.carousel_slide {
    padding-right: 0;
    padding-left: 0;
}


.carousel-indicators .active {
    width: 20px;
    height: 20px;
    margin: 3px;
    background-color: #ff733b;
    border-width: 0;

}
.carousel-indicators li:hover{
    background-color: rgba(188, 189, 193, 1);
}
.carousel-indicators li {
    margin: 3px;
    background-color: rgba(188, 189, 193, 0.8);
    border-width: 0;
}

@media screen and (max-width: 992px) {
    .wrapper {
        flex-direction: column;
    }
}
